{% extends 'blog/base.html' %}


{% block content %}
    {% for post in posts %}
        <div class="responsive jumbotron">
            <div>
                <p id="date">{{ post.published_date }}</p>
            </div>
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
            <h5><a href="{% url 'post_detail' pk=post.pk %}">Comments: {{ post.approved_comments.count }}</a></h5>
        </div>
    {% endfor %}
{% endblock %}
