{% extends 'blog/base.html' %}

{% block content %}
    <div>
        {% if user.is_authenticated %}
            <a href="{% url 'post_edit' pk=post.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
            <a href="{% url 'post_delete' pk=post.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaksbr }}</p>
        {% if post.published_date %}
            <div>
                <p id="date">{{ post.published_date }}</p>
            </div>
        {% else %}
            <h1><a href="{% url 'post_publish' pk=post.pk %}" class="btn btn-default">publish</a></h1>
        {% endif %}
    </div>
    <hr class="style14">
    <h1><a class="btn btn-default" href="{% url 'add_comment_to_post' pk=post.pk %}">add comment</a></h1>
    {% for comment in post.comments.all %}
            <div align="center" class="comment">
                <h4><strong>{{ comment.author }}</strong></h4>
                <h6><div class="date">
                    {{ comment.created_date }}
                {% if user.is_authenticated or comment.approved_comment %}
                    {% if not comment.approved_comment %}
                        <br />
                        <br />
                        <a class="btn btn-default" href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                {% endif %}
                </div></h6>
                <h5>{{ comment.text|linebreaksbr }}</h5>
            </div>
    {% empty %}
        <p>No comments here yet.</p>
    {% endfor %}
{% endblock %}